<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tobi.team3.mapper.ItemMapper">

<select id="getItemListByTable" parameterType="com.example.tobi.team3.model.Items">
    select * from ${tablename} order by id ;
</select>

</mapper>