<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
  <script th:src="@{/js/category.js}"></script>
  <link th:href="@{/css/category.css}" rel="stylesheet">
  <title>Team3</title>
</head>
<body>
<div class="container">
  <div class="header">
    <a href="/main" class="logo">Team3</a>
    <div class="search-bar">
      <div class="search-container">
        <input type="text" placeholder="찾고 싶은 상품을 검색해보세요!">
        <button>🔍</button>
      </div>
    </div>
    <div class="links">
      <div th:if="${session.userId == null}">
        <a th:href="@{/main/login}">로그인</a>
        <a th:href="@{/main/join}">회원가입</a>
      </div>
      <div th:if="${session.userId != null}">
        <a th:href="@{/main/mypage}">마이페이지</a>
        <form th:action="@{/logout}" method="post" style="display: inline;">
          <a href="#" onclick="this.closest('form').submit()" style="text-decoration: none; color: black;" id="logout">로그아웃</a>
        </form>
      </div>
    </div>
  </div>

  <div class="nav">
    <a href="#" class="category-link" onclick="/main/1")">전자제품</a>
    <a href="#">카테고리2</a>
    <a href="#">카테고리3</a>
    <a href="#">카테고리4</a>
    <a href="#">카테고리5</a>
    <a href="#">카테고리6</a>
    <a href="#">카테고리7</a>
    <a href="#">카테고리8</a>
  </div>

  <h2 id="category">sss</h2>
  <div class="products">
    <div>
      <tbody id="items">

      </tbody>
  </div>

  <footer>
    <p>상호명 및 호스팅 서비스 제공 : 하이미디어</p>
    <p>개발자 : 조대경,유지연,박경훈  </p>
    <p>사업자 등록번호 : 000-00-00000</p>
    <p>고객센터 : 010-3097-5843</p>
    <p>담당자 : 조대경(메인), 유지연(로그인), 박경훈(회원가입)</p>
  </footer>
</div>
</body>
</html>